<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="../static/ico/favicon.ico" />
        <title>Device Metrics</title>
    </head>
    <body>
        <header>
            <h1>Device Metrics Dashboard</h1>
        </header>
        <main>
            {% for ms in metric_snapshots %}
            <div class="metric-snapshot">
                <div class="metric-snapshot__origin">
                    <div class="flex-container">
                        <div>Device</div>
                        <div>{{ ms.device_name }}</div>
                        <div>Time</div>
                        <div>{{ ms.timestamp }}</div>
                    </div>
                </div>
                <div class="metric-snapshot__data">
                    <div class="flex-container">
                        {% for m in ms.metrics %}
                        <div>{{ m.name }}</div>
                        <div>{{ "{:,.2f}".format(m.value) }} {{ m.unit }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </main>
    </body>
</html>
